<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gPatcher.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gPatcher.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <!--procurar arquivos dentro da pasta lang-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lang" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <gPatcher.Properties.Settings>
      <setting name="TrayIconEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WebLoginNeeded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ElswordDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableBackgroundImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsTrayIconFirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value />
      </setting>
      <setting name="ModsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlockLogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="X2Args" serializeAs="String">
        <value />
      </setting>
      <setting name="SkipLauncher" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BetaFirstLaunch" serializeAs="String">
        <value>True</value>
      </setting>
    </gPatcher.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <gPatcher.Properties.Settings>
      <setting name="CheckForProgramUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VersionInfoUrl" serializeAs="String">
        <value>https://gpatcher2.googlecode.com/svn/trunk/versionInfo.txt</value>
      </setting>
      <setting name="IgnoreBetaReleases" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsBetaRelease" serializeAs="String">
        <value>True</value>
      </setting>
    </gPatcher.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>